<table>
  <tr>
    <th>Cluster
    <th>Action
    <th>Last Build
  <% @jobs.each do |job_name| %>
  <tr>
    <td><%= job_name %>
    <td><%= build_job_link(job_name) %>
  <% end %>
</table>

<% content_for :script do %>
<script>
  var Socket = "MozWebSocket" in window ? MozWebSocket : WebSocket;
  var ws = new Socket("ws://localhost:8080/");
  ws.onmessage = function(evt) {
    console.log(evt.data);
  };
  ws.onclose = function() { console.log("socket closed"); };
  ws.onopen = function() {
    console.log("connected...");
  };
</script>
<% end %>
